.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.jr{ justify-content: flex-end;}
.jc{ justify-content: center;}
.jl{ justify-content: flex-start;}
ce{
    display: block;
}

.lpod{
    width: 400px;
    height: 60px;
}
.spod{
    width: 200px;
    height: 60px;
}




