#test {
    display: block;
}

html { 
    height: 100%;  
    width: 100%; 
}
body { 
    color: #333333;
    font: 14px "Helvetica",Verdana,Lucida,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #0064af;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
label {
    font-weight: bold;
}
label {
    font-weight: bold;
}
h2 {
    background-color: rgba(102, 102, 102, 0.8);
    border-bottom: 1px solid #cccccc;
    color: white;
    font-size: 19.5px;
    font-weight: normal;
    padding: 5px 10px;
    margin: 0;
}

h3 {
    background-color: rgba(102, 102, 102, 0.8);
    border-bottom: 1px solid #cccccc;
    color: white;
    font-size: 19.5px;
    font-weight: normal;
    padding: 5px 10px;
    margin: 5px 0px;
}

#home {
    padding: 20px;
}
#home a {
    display: block;
    font-weight: bold;
    font-size: 16px;
    color: #1754ff;
}

#audio{
    display:none;
}

#test {
    position: absolute;
    top: 10px;
    right: 10px;
    display:none;
    font-weight: bold;
    background-color: darkorange;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
}

#cleanreset {
    background-color: #2272ea;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    padding: 5px 10px;
}

/* #checkspeed-label { margin: 10px; } */
#checkspeed {
    
}

#header {
    background-color: #333;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 28px;
    color: #eee;
}

#info {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#last-check{
    padding: 2px 5px;
}

#content{
    padding: 10px;
    height: 400px;
}

#computer-list {
    margin: 10px;
    border: 1px solid #ddd;
    background-color: #eee;
}

.computer {
    display:none;
    cursor: pointer;
    background-color: #ccc;
    border: 1px solid #aaa;
    padding: 2px;
    margin: 2px;
    font-size: 12px;
    color: #222;
    width: 200px;
    height: 13px;
    text-align: center;
    font-weight: bold;
}


.group {
    position: relative;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ddd;
    border-radius: 10px;
    cursor: pointer;
}
.group:hover {
    border: 1px solid #888;
}
.group[data-status="1"]{
    background-color: #ddd;
}
.group[data-status="0"]{
    background-color: #bdbfff;
}

.group[data-cleaned="0"]{
    background-color: #ff5757;
    animation:flash 2s linear infinite;
}
@keyframes flash {
    0% {
        background-color: #ff5757;
    }
    50% {
        background-color: orange;
    }
    100% {
        background-color: #ff5757;
    }
}
.group[data-cleaned="1"]:after{
    content: "CLEANED";
    color: #23a244;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.group[data-cleaned="0"]:after{
    content:"NEEDS CLEANING";
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


#help {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    right: -402px;
    top: 150px;
}

#help.open {
    transform: translate(-402px, 0px);
    transition: transform 330ms ease-in-out;
    z-index: 100;
}

#help .label{
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    writing-mode: tb;
    -ms-writing-mode: tb-rl;
    background-color: #3196de;
    width: 25px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    padding: 10px 7px 10px 5px;
    cursor: pointer;
    height: 150px;
}

#help .information{
    border: 1px solid #666;
    background-color: #d4dfff;
    font-size: 14px;
    width: 400px;
    height: 170px;
}
#help .information ul{
    padding: 5px 25px 5px 25px;
    margin: 0;
}
#help .information ul li{
    padding: 0;
    margin: 0 0 10px 0;
}

